<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OrderList</title>
</head>
<body>
    <div class="container">
        <h1>List Orders</h1>
        <div class="d-flex w-75">
            <input type="text"
                   placeholder="From date"
                   id="from"
                   class="form-control me-1" />
            <input type="text"
                   placeholder="To date"
                   id="to"
                   class="form-control me-1" />
            <button class="btn btn-outline-secondary" id="search">Search</button>
        </div>
        <div class="row mt-3">
            <div id="tableOrder"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(() => {
            getOrders();
        });
        const getOrders = () => $.ajax({
            url: `https://localhost:5000/api/Order/GetAllOrder`,
            method: "GET",
            contentType: "application/json; charset=utf-8",
            success: (data) => {
                $("#tableOrder").html("");
                if (data) {
                    $("#tableOrder").html(loadTableData(data));
                }
            },
            error: () => { },
        });
        $(document).ready(() => {
            $("#search").click(() => {
                let fromdate = $("#from").val(),
                    todate = $("#to").val();
                $.ajax({
                    url: `https://localhost:5000/api/Order/GetOrderByDate/${fromdate}/${todate}`,
                    method: "GET",
                    contentType: "application/json; charset=utf-8",
                    success: (data) => {
                        $("#tableOrder").html("");
                        if (data) {
                            $("#tableOrder").html(loadTableData(data));
                        }
                    },
                    error: () => { },
                });
            });
        });
        const loadTableData = (data) => {
            let tableContent = `
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>OrderId</th>
                                                    <th>CustomerId</th>
                                                    <th>CustomerName</th>
                                                    <th>EmployeeId</th>
                                                    <th>EmployeeName</th>
                                                    <th>EmployeeDepartmentName</th>
                                                    <th>OrderDate</th>
                                                    <th>ShipName</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {0}
                                            </tbody>
                                        </table>`;
            let tableData = "";
            data.forEach((element) => {
                tableData += `
                                        <tr>
                                            <td>${element.orderId}</td>
                                            <td>${element.customerId}</td>
                                            <td>${element.customerName}</td>
                                            <td>${element.employeeId}</td>
                                            <td>${element.employeeName} <a href="javascript:void(0)" data-id="${element.employeeId}" class="deleteEmployee">DeleteEmployee</a></td>
                                            <td>${element.employeeDepartmentName}</td>
                                            <td>${element.orderDate}</td>
                                            <td>${element.shipName}</td>
                                        </tr>
                                        `;
            });
            return tableContent.replace("{0}", tableData);
        };
        $(document).on('click', '.deleteEmployee', function () {
            let id = $(this).attr('data-id');
            $.ajax({
                url: `https://localhost:5000/api/Employee/Delete/${id}`,
                method: "POST",
                contentType: "application/json; charset=utf-8",
                success: (data) => {
                    $('#tableOrder').html('');
                    if (data) {
                        alert("Delete successfully");
                        getOrders();
                    }
                },
                error: (data) => {
                    alert("Cannot delete");
                },
            });
        });
    </script>
</body>
</html>